[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
mccabe = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-quotes = "*"
flake8-comprehensions = "*"
flake8-string-format = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-bandit = "*"
flake8-print = "*"
flake8-isort = "*"
pep8-naming = "*"
autoflake = "*"
ipdb = "*"
pre-commit = "*"
isort = "*"
pytest-xdist = "*"
black = "==19.10b0"

[packages]

[requires]
python_version = "3.7"
